<div class="jumbotron text-center">
  <h1>Hello!</h1>
  <p>Here are my projects.</p>
</div>

{{#each model as |project|}}
  <div class="panel panel-info">
    <div class="panel-heading">
      <a href={{project.url}}>{{project.title}}</a>
    </div> 
    <div class="panel-body">
      {{project.description}}
    </div>
  </div>
{{/each}}